In [1]:
import json, gzip, tqdm, math, csv, random, numpy as np, pandas as pd, os, array
from collections import defaultdict
from sklearn import linear_model
from IPython.display import display, HTML
def parse(path, max_ct = 5000):
  f = open(path, 'rb')
  ct = 0
  for l in tqdm.tqdm(f):
    yield eval(l)
    ct += 1
    if ct > max_ct:
      break
def getDF(path, max_ct = 5000):
  i = 0
  df = {}
  for d in parse(path, max_ct = max_ct):
    d["categories"] = d["categories"][0]
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')
def getDFRev(path, max_ct = 5000):
  i = 0
  df = {}
  for d in parse(path, max_ct = max_ct):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [2]:
limit = 99999999
df = getDF('meta_Clothing_Shoes_and_Jewelry.json', max_ct = limit)
# filter metadata without images
df = df[df["imUrl"].notna()]
df_rev = getDFRev('reviews_Clothing_Shoes_and_Jewelry.json', max_ct = limit)
print("Count Nans: ", [(col, df[col].isna().sum()) for col in df.columns])

1503384it [02:16, 10977.05it/s]
5748920it [02:52, 33241.22it/s]

Count Nans:  [('asin', 0), ('related', 446185), ('title', 609), ('price', 928425), ('salesRank', 81093), ('imUrl', 0), ('brand', 1405173), ('categories', 0), ('description', 1417866)]

In [3]:
display(df[:1])
display(df_rev[:1])

,asin,related,title,price,salesRank,imUrl,brand,categories,description
0,0000037214,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,{'Clothing': 1233557},http://ecx.images-amazon.com/images/I/31mCncNu...,Big Dreams,"[Clothing, Shoes & Jewelry, Girls]",NaN

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2XVJBSRI3SWDI,0000031887,abigail,"[0, 0]",Perfect red tutu for the price. I baught it as...,5.0,Nice tutu,1383523200,"11 4, 2013"

In [4]:
cat_cts = defaultdict(int)
for cats in tqdm.tqdm(df["categories"]):
    for c in cats:
        cat_cts[c] += 1
cat_lists = list(cat_cts.items())
# print categories and their counts
cat_lists.sort(key = lambda x: -x[1])
print(cat_lists[:20])

100%|██████████| 1503305/1503305 [00:01<00:00, 1102131.43it/s]

[('Clothing, Shoes & Jewelry', 1435790), ('Women', 502696), ('Clothing', 410680), ('Shoes & Accessories: International Shipping Available', 267208), ('Men', 215989), ('Novelty, Costumes & More', 112130), ('Accessories', 110695), ('Jewelry', 69197), ('Sports & Outdoors', 63031), ('Shoes', 58289), ('Dresses', 51687), ('Tops & Tees', 49797), ('Girls', 48399), ('Novelty', 46932), ('Shirts', 36812), ('New Arrivals', 36603), ('Lingerie, Sleep & Lounge', 36506), ('Baby', 33910), ('Costumes & Accessories', 32980), ('Casual', 31283)]

In [11]:
def filter_df_by_category(category, acceptable_asins):
  return df[df.apply(lambda x: category in x["categories"] and x["asin"] in acceptable_asins, axis=1)]
def filter_rev_by_ids(id_set):
  return df_rev[df_rev.apply(lambda x: x["asin"] in id_set, axis=1)]
# reads (asins, features) for all asins that exist in the asin_set
def readImageFeatures(path, asin_set):
  f = open(path, 'rb')
  while True:
    asin = f.read(10).decode("utf-8")
    if len(asin) == 0: break
    a = array.array('f')
    a.fromfile(f, 4096)
    if asin in asin_set:
      yield asin, a
# Reads ALL asins from a featurePath
def readFeatAsins(path):
  f = open(path, 'rb')
  while True:
    asin = f.read(10).decode("utf-8")
    if len(asin) == 0: break
    f.read(4096 * 4)
    yield asin
def createFeatsColumn(path, asin_set, asins):
  fts_dict = dict(readImageFeatures(path, asin_set))
  print(len(fts_dict), len(asins))
  assert(len(fts_dict) == len(asins))
  return [fts_dict[t] for t in asins]
def write(base_path, meta, rev, feats_col):
  os.makedirs(base_path, exist_ok=True)
  rev.to_json(os.path.join(base_path, "rev.json"))
  meta.to_json(os.path.join(base_path, "meta.json"))
  with open(os.path.join(base_path, "filtered_feats.b"), 'wb') as f:
    for t in tqdm.tqdm(feats_col):
      arr = array.array('f', t)
      f.write(arr)

In [9]:
# investigating discrepency
filter_name = "Shoes"

# set of asins that have image features
acceptable_asins = set(readFeatAsins("image_features_Clothing_Shoes_and_Jewelry.b"))
print("Length of acceptable asins: ", len(acceptable_asins))
# filtered rows that have the specified filter_name and also exist in the image features binary file
df_filtered = filter_df_by_category(filter_name, acceptable_asins)

id_set = set(df_filtered["asin"])
rev_filtered= filter_rev_by_ids(id_set)
# img_feats = dict(readImageFeatures("image_features_Clothing_Shoes_and_Jewelry.b", id_set))
feats_col = createFeatsColumn("image_features_Clothing_Shoes_and_Jewelry.b", id_set, df_filtered["asin"])

print("Length meta filtered: ", len(df_filtered))
print("Length rev filtered: ", len(rev_filtered))
print("Length of feats: ", len(feats_col))

Length of acceptable asins:  1494171
57985 57985
Length meta filtered:  57985
Length rev filtered:  165947
Length of feats:  57985

In [7]:
df_filtered[:2]

,asin,related,title,price,salesRank,imUrl,brand,categories,description
147,8921463216,"{'also_viewed': ['8921463267', '8921463208', '...",Hello Kitty LALA Lovely Womens Summer Slippers...,NaN,{'Beauty': 377777},http://ecx.images-amazon.com/images/I/41hbUxgB...,NaN,"[Clothing, Shoes & Jewelry, Women, Shoes, Slip...",NaN
148,8921463267,"{'also_viewed': ['8921463259', 'B007682TD0', '...",Hello Kitty LALA Lovely Womens Summer Slippers...,22.99,{'Beauty': 171597},http://ecx.images-amazon.com/images/I/41H1HmaH...,Hello Kitty,"[Clothing, Shoes & Jewelry, Women, Shoes, Slip...",NaN

In [26]:
rev_filtered[:5]

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
996,A2IQ3AQHJNJUNZ,8921463216,GirlGamer,"[0, 0]","Everbody loves my sandals, a little narrow aro...",5.0,Love Love Love,1395014400,"03 17, 2014"
997,A3OI9F0VHQTBJ3,8921463240,Glenda Pharom,"[0, 0]",The sizes were off! I ordered a size 6 they s...,1.0,The size,1397088000,"04 10, 2014"
998,A24JDUPTAD2JJ,8921463267,"NAKISSA SG ""Nakissa""","[0, 0]",These shoes are extremely pretty. Not pink lik...,2.0,Gorgeous but very uncomfortable,1398038400,"04 21, 2014"
3314,A3413TLTXQ38XN,B00004U3SF,Amazon Customer,"[3, 3]",Ordered size small 3/4 but they look more like...,3.0,Beautiful shoes BUT WAY TOO SMALL,1359590400,"01 31, 2013"
3315,A1BASGSNHU20MM,B00004U3SF,Amazon Customer,"[6, 6]","These are great for dressup, but become worn o...",4.0,good dressup slippers,1175299200,"03 31, 2007"

In [18]:
uniques = set()
for t in tqdm.tqdm(df_filtered["related"]):
    if pd.notna(t):
        for k in t.keys():
            uniques.add(k)
print(uniques)

100%|██████████| 57985/57985 [00:00<00:00, 375307.42it/s]

{'bought_together', 'buy_after_viewing', 'also_viewed', 'also_bought'}

In [12]:
write("./data/shoes", df_filtered, rev_filtered, feats_col)

100%|██████████| 57985/57985 [00:00<00:00, 60685.60it/s]